html {
    position: relative;
}
body {
    margin-bottom: 60px;
    margin-top: 55px;
}
.jumbotron {
    background-image: url("../img/header-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: -220px 0px;
    color: #eaeaea;
    overflow: hidden;
}
.jumbotron h1,
.jumbotron p {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
hr {
    width: 250px;
    border: 1px solid #999;
}
.contact,
.about {
    min-height: 400px;
}
section {
    min-height: 600px;
}
.pLeft,
.pRight {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}
.pRight {
    transform: translate(50px, 0);
}
.pLeft.pShow,
.pRight.pShow {
    opacity: 1;
    transform: translate(0, 0);
}
.portfolio {
    background-color: #e9ecef;
}
.portfolio .card {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
}
.portfolio .card.show {
    opacity: 1;
    transform: translate(0, 0);
}
.fa-envelope,
.fa-github {
    font-size: 50px;
    color: black;
}
.fa-github:hover,
.fa-envelope:hover {
    color: #474c52;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
}
footer p {
    color: white;
}
