html {
    position: relative;
}
body {
    margin-bottom: 60px;
    margin-top: 55px;
}
.jumbotron {
    background-image: url("../img/header-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    /* background-position: -220px 0px; */
    color: #eaeaea;
    overflow: hidden;
    background-repeat: no-repeat;
}
.jumbotron h1,
.jumbotron p {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
hr {
    width: 250px;
    border: 1px solid #999;
}
.contact,
.about {
    min-height: 300px;
}
section {
    min-height: 600px;
}
.education {
    background-color: #e9ecef;
    min-height: 300px;
}
.education p {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
}
.education p.show {
    opacity: 1;
    transform: translate(0, 0);
}
.b1,
.b2 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}
.b2 {
    transform: translate(50px, 0);
}
.b1.bShow,
.b2.bShow {
    opacity: 1;
    transform: translate(0, 0);
}
.pLeft,
.pRight {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}
.pRight {
    transform: translate(50px, 0);
}
.pLeft.pShow,
.pRight.pShow {
    opacity: 1;
    transform: translate(0, 0);
}
.portfolio {
    background-color: #e9ecef;
}
.portfolio .card {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
    overflow: hidden;
}
.portfolio .card.show {
    opacity: 1;
    transform: translate(0, 0);
}
.card img {
    display: block;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.card:hover figcaption {
    left: 0%;
}
.card:hover img {
    transform: scale(1.05);
}
figcaption {
    position: absolute;
    bottom: 10px;
    left: -100%;
    background-color: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
}
.contact i {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
}
.contact i.show {
    opacity: 1;
    transform: translate(0, 0);
}
.fa-envelope,
.fa-github {
    font-size: 50px;
    color: black;
}
.fa-github:hover,
.fa-envelope:hover {
    color: #474c52;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
}
footer p {
    color: white;
}
